/* Plaats je CSS-code in dit bestand */

nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

.page {
    border-width: 1px;
    border-color: purple;
    border-style: solid;
}

#button-start {
    font-weight: bold;
}

/* De beste kleur. */
body {
    background-color: purple;
}