/* Plaats je CSS-code in dit bestand */
@import url('https://fonts.googleapis.com/css?family=Roboto');

nav {
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    background-color: #111111;
    border-width: 1px;
    border-color: #DDDDDD;
    border-style: solid;
}

.page {
    background-color: #111111;
    border-width: 1px;
    border-color: #DDDDDD;
    border-style: solid;
    padding: 1em;
}

#button-start {
    font-weight: bold;
}

.block {
    background-color: #111111;
    border: none;
    color: #DDDDDD;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

html {
    height: 100%
}

/* Wat eigen veranderingen aan alles aangebracht. */
body {
    /* background-color:#001f3f; */
    background-image: linear-gradient(#05386b, #111111);
    color: #DDDDDD;
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: auto;
}

.title {
    background-color: #111111;
    border-width: 1px;
    border-color: #DDDDDD;
    border-style: solid;
    text-align: center;
}