/* Plaats je CSS-code in dit bestand */
@import url('https://fonts.googleapis.com/css?family=Roboto');

nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

.page {
    border-width: 4px;
    border-color: purple;
    border-style: solid;
}

#button-start {
    font-weight: bold;
}

/* Wat eigen veranderingen aan alles aangebracht. */
body {
    background-color: #001f3f;
    color: #DDDDDD;
    font-family: 'Roboto', sans-serif;
}